extends layout

block styles

block content
  .container(ng-controller='taskCtrl')
    tbody
      tr(ng-repeat='task in list' ng-if='list.length')
        td{{task.name}}
        td{{task.description}}
        td{{task.date}}
        td
          input(type='checkbox', value='', ng-model='task.completed')
